<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="element">
            <label class="label">NFT name</label><input type="text" class="input" id="name" />
        </div>
        <div class="element">
            <label class="label">NFT symbol</label><input type="text" class="input" id="symbol" />
        </div>
        <div class="element">
            <label class="label">Account address</label><input type="text" class="input" id="address" />
        </div>
        <div class="element">
            <label class="label">Image</label><input type="file" class="input files" id="img"
                accept=".jpg, .gif, .png, .jpeg, .webp" />
        </div>

        <div class="element">
            <label class="label">Discription</label><textarea class="textarea" id="discription"></textarea>
        </div>
        <div class="element button">
            <input type="button" id="button" class="_button" value="Submit" />
        </div>

    </div>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>